<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      Classical Guitar Guru
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/pieces">Pieces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/composers">Composers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/arrangers">Arrangers</a>
        </li>
        <% if @current_user != nil %>
          <li class="nav-item">
            <a class="nav-link" href="/favorites">My Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ratings">My Ratings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comments">My Comments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user_sign_out">Sign out</a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/user_sign_in">Sign in</a>
          </li>
        <% end %>
      </ul>
      <!--
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/comments" class="dropdown-item">
              Comments
            </a>
            <a href="/favorites" class="dropdown-item">
              Favorites
            </a>
            <a href="/ratings" class="dropdown-item">
              Ratings
            </a>
            <a href="/arrangers" class="dropdown-item">
              Arrangers
            </a>
            <a href="/pieces" class="dropdown-item">
              Pieces
            </a>
            <a href="/composers" class="dropdown-item">
              Composers
            </a>
          </div>
        </li>
      </ul>
      -->
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
